.nav {
  height: 50px;
  background-color: rgb(12, 12, 52);
}

.nav section {
  display: inline-block;
  position: absolute;
  left: 0;
  padding: 15px;
  font-size: 20px;
  color: white;
}

.nav ul {
  @media screen and (min-width: 768px) {
    position: absolute;
    right: 10px;
    list-style: none;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    right: 15px;
    list-style: none;
  }
}

.nav ul li {
  @media screen and (min-width: 1200px) {
    display: inline-block;
    list-style: none;
  }
}

.nav ul li a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  @media screen and (min-width: 1200px) {
    color: white;
    padding: 5px;
  }
}

/* {
  @media screen and (max-width: 767px) {
    background: url(../images/sunset.jpg);
    background-size: cover;
    height: 630px;
  }
} */

.home,
.about,
.services,
.contact {
  background: url(../images/sunset.jpg);
  background-size: cover;
  height: 1000px;
  @media screen and (min-width: 1200px) {
    height: 715px;
  }
}

.home .text-container {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 1199px) {
    margin-top: 50px;
  }
  @media screen and (min-width: 1200px) {
    height: 300px;
  }
}

.home .text-container h1 {
  margin: 100px auto 0 auto;
  @media screen and (min-width: 1200px) {
    margin: 50px auto 0 auto;
    font-size: 35px;
  }
}

.about .about-content {
  color: white;
  @media screen and (min-width: 1200px) {
    margin: 150px auto 0 auto;
    width: 500px;
    color: white;
  }
}

.about .about-content h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  @media screen and (max-width: 767px) {
    margin-top: 85px;
  }
  @media screen and (max-width: 1199px) {
    margin-top: 85px;
  }
}

.about .about-content p {
  text-align: justify;
  font-family: "Lato", sans-serif;
  @media screen and (max-width: 767px) {
    width: 420px;
    margin: 10px 30px 0 20px;
  }
  @media screen and (max-width: 1199px) {
    width: 550px;
    line-height: 1.4;
    margin: 10px auto 0 auto;
  }
}

.services .services-content {
  margin: 80px auto 0 auto;
  text-align: center;
  color: white;
}

.services .services-content h1,
.contact .contact-content h1 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

.services-content .card-container ul {
  @media screen and (min-width: 1200px) {
    padding: 0;
  }
}

.services-content .card-container ul li {
  @media screen and (min-width: 1200px) {
    list-style: none;
    display: inline-block;
    margin: 20px;
    width: 300px;
  }
}

.services-content .card-container ul li p {
  @media screen and (max-width: 767px) {
    margin: 15px 40px 65px 0px;
  }
  @media screen and (max-width: 1199px) {
    margin: 15px 40px 65px 5px;
  }
  @media screen and (min-width: 1200px) {
    text-align: justify;
    font-family: "Lato", sans-serif;
  }
}

.contact .contact-content {
  margin: 140px auto 0 auto;
  text-align: center;
  color: white;
}

.contact .contact-content .address-holder {
  @media screen and (min-width: 1200px) {
    font-family: "Lato", sans-serif;
  }
}

.contact-content .address-holder address {
  @media screen and (min-width: 1200px) {
    list-style: none;
  }
}

.container {
  @media (max-width: 1199px) {
    min-width: 320px;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.page-header {
  @media (max-width: 1199px) {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }
}

.menu {
  @media (max-width: 1199px) {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.menu {
  @media (max-width: 1199px) {
    display: none;
  }
}

.menu .link {
  @media screen and (max-width: 1199px) {
    padding: 10px;
    color: inherit;
    text-decoration: none;
  }
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  @media screen and (max-width: 1199px) {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 12, 52);
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.menu-toggle {
  @media (min-width: 1199px) {
    display: block;
  }
  @media (min-width: 1199px) {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  @media screen and (max-width: 1199px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #150733;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  @media screen {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fcfcfc;
  }
}

.mobile-menu {
  @media screen and (max-width: 1199px) {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.mobile-menu .link {
  display: none;
  list-style: none;
  text-decoration: none;
  @media screen and (max-width: 1199px) {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
  }
}

.none {
  list-style-type: none;
}
