.nav {
  height: 50px;
  background-color: rgb(12, 12, 52);
}

.nav section {
  display: inline-block;
  position: absolute;
  left: 0;
  padding: 15px;
  font-size: 20px;
  color: white;
}

.nav ul {
  position: absolute;
  right: 15px;
}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  color: white;
  padding: 5px;
}

.home,
.about,
.services,
.contact {
  background: url(../images/sunset.jpg);
  background-size: cover;
  height: 700px;
}

.home .text-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  color: white;
}

.home .text-container h1 {
  margin: 250px auto 0 auto;
  font-size: 35px;
}

.about .about-content {
  margin: 150px auto 0 auto;
  width: 500px;
  color: white;
}

.about .about-content h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

.about .about-content p {
  text-align: justify;
  font-family: "Lato", sans-serif;
}

.services .services-content {
  margin: 80px auto 0 auto;
  text-align: center;
  color: white;
}

.services .services-content h1,
.contact .contact-content h1 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

.services-content .card-container ul {
  padding: 0;
}

.services-content .card-container ul li {
  list-style: none;
  display: inline-block;
  margin: 20px;
  width: 300px;
}

.services-content .card-container ul li p {
  text-align: justify;
  font-family: "Lato", sans-serif;
}

.contact .contact-content {
  margin: 140px auto 0 auto;
  text-align: center;
  color: white;
}

.contact .contact-content .address-holder {
  font-family: "Lato", sans-serif;
}

.contact-content .address-holder address {
  list-style: none;
}
